* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343d33;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 56px 16px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.picture2 {
  margin: 18px 0 40px 0;
}

.title {
  font-family: Libre Baskerville;
  font-size: 34px;
  font-weight: 400;
  text-transform: capitalize;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.learn-more {
  padding: 15px 30px;
  border: 2px solid #fff;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 536px;
    margin: 0 auto;
    padding: 96px 0;
  }

  .picture2 {
    margin: 40px 0 60px 0;
  }

  .content-wrapper {
    max-width: 417px;
    text-align: left;
  }

  .title {
    font-size: 45px;
  }

  .description {
    font-size: 20px;
    line-height: 30px;
  }

  .learn-more {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1040px;
    margin: 0 auto;
  }
  .picture1 {
    order: 1;
  }

  .content-wrapper {
    order: 2;
    margin-left: 80px;
  }

  .picture2 {
    order: 3;
  }
}
